body {
  font-family: sans-serif;
  background-color: beige;
}

p.intro {
  width: 50%;
  font-style: italic;
 }


.pow {
  color: red;
  font-style: bolder;
}


.about {
 font-size: 14px;
 font-style: bold;
 font-family: cursive;
 color: maroon;
 text-align: center;
}

table {
  background-color: #333333;
  text-align: left;
  padding: 2px;
  color: white;
}
