body {
  font-family: sans-serif;
  background-color: beige;
}


.pow {
  color: red;
  font-style: bolder;
}


.about {
 font-size: 14px;
 font-style: bold;
 font-family: cursive;
 color: maroon;
 text-align: center;
}
